<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="ROBOTS" content="NONE" />
        <title>Buddyblog :: Articles</title>

        <script src="jquery.min.js"></script>
        <script src="jquery.colorbox-min.js"></script>
        
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{{style}}" />
        <link rel="favicon" href="{{STATIC_URL}}/favicon.ico">
        <link rel="stylesheet" href="/static/blog/colorbox.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/static/blog/colorbox.js"></script>
        <script>
            $(document).ready(function(){
                //Examples of how to assign the Colorbox event to elements
                $(".imgs").colorbox({rel:'imgs', transition:"elastic", maxWidth:"95%", maxHeight:"95%"});
                $(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});
                $(".vimeo").colorbox({iframe:true, innerWidth:500, innerHeight:409});
                $(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
            });
        </script>
    </head>

    <body>
        <div id="navbar">
            <span><a class="navbar_link" href="/">Accueil</a></span><span><a class="navbar_link" href="/articles">Articles</a></span><span><a class="navbar_link" href="">Article - {{post.title}}</a></span>
        </div>
        <div id="main_container">

            <div id="blogpost_container">
                <h2 style="text-align: center">{{post.title}}</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{post.media.0.all.source_id_string}}" frameborder="0" allowfullscreen></iframe>
                <p>{{post.corpus | safe | linebreaksbr}}</p>
                <p style="text-align: center"><span class="post_info">Posté le {{post.created_date.day}} - {{post.created_date.month}} - {{post.created_date.year}}. Tags : </span>{% for tag in post.tags.all %}<a class="music_tag" href="#">{{tag.title}}</a>{% endfor %}</p>
                
        </div> <!-- end main_container -->
    </body>

    <footer>
        
    </footer>
</html>





